section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

#styleContainer {
  width: 100px;
  height: 100px;
  border-style: solid;
}

#styleContainer2 {
  width: 100px;
  height: 100px;
  border-style: solid;
}

#pushButton,
.norskKnapp,
#addColor2 {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 2px lightgrey;
  background-color: rgb(218, 13, 115);
  margin: 20px;
}

button {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 2px lightgrey;
  background-color: rgb(188, 188, 253);
  margin: 20px;
}

#addColor {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 2px lightgrey;
  background-color: rgb(18, 235, 101);
  margin: 20px;
}
#addColor:hover {
  background-color: rgb(153, 153, 207);
  cursor: pointer;
}
